.modal-header {
    background: #e36300;
}
.paragraphs{
    color: #e36300;
}
.modal-content {
    color: #fff;
    background: #ffffff00;
    backdrop-filter: blur(10px);
    border: 2px solid #fff;
}
.btn.btn-primary, .btn.btn-primary:hover{
    background-color: #e36300;
    border-color: #e36300;
    box-shadow: none;
    color: #fff;
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}
input[type=text]:focus, input[type=email]:focus, textarea:focus {
    border-color: #86b7fe;
}
.btn-close:focus {
    outline: 0;
    box-shadow: unset;
    opacity: var(--bs-btn-close-focus-opacity);
}
.main-box{
    overflow: hidden;
}
.main-box{
    height: 350px;
    width: auto;
    overflow: hidden;
}
.main-box img {
    border-radius: 10px;
    object-fit: cover;
    height: 350px;
}
.contact .form-container .form-floating .form-control:focus{
    box-shadow: unset !important;
}
/* @media (max-width: 768px) {
    .main-box img {
        height: 250px;
    }
} */
 .btn.btn-primary {
    background: var(--accent-color);
    color: var(--contrast-color);
    border-color: var(--accent-color);
}
.btn.btn-primary:hover {
    background: 
 color-mix(in srgb, var(--accent-color), black 10%);
    border-color: 
 color-mix(in srgb, var(--accent-color), black 10%);
    transform: translateY(-2px);
}
 .btn.btn-outline {
    background: transparent;
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgb(227 99 0) !important;
}

.border-primary {
    --bs-border-opacity: 1;
    border-color: rgb(227 99 0) !important;
}

.btn-outline-primary {
    --bs-btn-color: #e36300;
    --bs-btn-border-color: #e36300;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #e36300;
    --bs-btn-hover-border-color: #e36300;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #e36300;
    --bs-btn-active-border-color: #e36300;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #e36300;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #e36300;
    --bs-gradient: none;
}

.text-primary {
    --bs-text-opacity: 1;
    color: #e36300 !important;
}

.bg-danger {
    --bs-bg-opacity: 1;
    background-color: rgb(227 99 0) !important;
}

.text-danger {
    --bs-text-opacity: 1;
    color: #e36300 !important;
}

@media (max-width: 900px) {
    .main-box{
        display: none;
    }
    .header .logo h1 {
        font-size: 20px !important;
    }
    .header .logo img {
        width: 40px !important;
    }
    .footer .footer-content .logo{
        justify-content: center;
    }
    #trainer-hero{
        overflow: hidden !important;
    }
}